.Config-Box {
  width 75%;
  border: 2px solid #cccccc;
  clear: both;
  vertical-align: middle;
  padding: 5px;
  font-size: 13px;
  word-break: break-all;
  word-wrap: break-word;
}

.container {
  height: 200px;
  margin: auto;
}

.Config-Menu {
  text-align: left;
  padding: 5px;
  float: right;
  vertical-align: bottom;
}

#config_table td {
  white-space: pre;
  text-align: left;
}

#config_table table, #config_table tr, #config_table td {
    border: none;
}

.Device_Info {
  clear: both;
  float: left;
}

#generic_table td {
  white-space: pre;
  text-align: left;
}

#generic_table th {
  text-align: center;
}
