<footer class="footer">
  <section class="hero-foot">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          <strong>Scribe</strong>
          <a class="icon has-text-primary" href="https://github.com/Daemonslayer2048/Scribe" target="_blank">
            <i class="fa fa-github"></i>
          </a>
          <br>
          <span>Already have an account?</span>
          <a href="{{ url_for('home_bp.login') }}">Log in.</a>
        </p>
      </div>
    </div>
    </div>
  </section>
</footer>
