{% extends "base.html" %}
{% block head %}
{% include "navbar.html" %}
{% endblock %}
{% block body %}
<table class="table is-hoverable is-striped">
  <tr>
    <th>Alias</th>
    <th>Enabled</th>
    <th>IP Address</th>
    <th>Repository</th>
    <th>Model</th>
    <th>Last Updated</th>
  </tr>
  {% for device in devices %}
  <tr>
    <td><a href={{ url_for('device_bp.config', alias=device.Device.alias) }}>{{ device.Device.alias }}</a></td>
    <td>{% if device.Device.enabled == 1 %}
        <div onclick="DisableDevice('{{ request.host_url }}', '{{ device.Device.alias }}')" class="color-dot" style="background-color: #33cc33;"></div>
      </button>
    {% else %}
        <div onclick="EnableDevice('{{ request.host_url }}', '{{ device.Device.alias }}')" class="color-dot" style="background-color: #ff3300"></div>
    {% endif %} </td>
    <td>{{ device.Device.ip }}</td>
    <td><a href={{ url_for('repo_bp.web_repo_devices', repo=device.Repo.repo_name) }}>{{ device.Repo.repo_name }}</a></td>
    <td>{{ device.Device_Model.model }}</td>
    <td>{{ device.Device.last_updated }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
{% block footer %}
{% include "default_footer.html" %}
{% endblock %}
