{% extends "base.html" %}
{% block head %}
{% include "navbar.html" %}
{% endblock %}
{% block body %}
<table class="table is-hoverable is-striped">
  <tr>
    <th>Name</th>
    <th>Remote Repository</th>
  </tr>
  {% for repo in repos %}
  <tr>
    <td><a href={{ url_for('repo_bp.web_repo_devices', repo=repo.repo_name) }}>{{ repo.repo_name }}</a></td>
    <td>{{ repo.remote_repo }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
{% block footer %}
{% include "default_footer.html" %}
{% endblock %}
