table {
    border-collapse: collapse;
}

td {
    padding:5px;
    border:1px solid black;
    text-align:center;
}

.color-box {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #ccc;
    left: 5px;
    top: 5px;
}
