table {
    border-collapse: collapse;
}

td {
    padding:5px;
    border:1px solid black;
    text-align:center;
}

.color-box {
    width: 12px;
    height: 12px;
    display: inline-block;
    background-color: #ccc;
    left: 10px;
    top: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.current {
  background-color: #4583B9;
}

#generic_table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#generic_table td, #generic_table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#generic_table tr:nth-child(even){background-color: #f2f2f2;}

#generic_table tr:hover {background-color: #ddd;}

#generic_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #4583B9;
  text-align:center;
  color: white;
}
