{% extends "base.html" %}
{% block head %}
{% include "navbar.html" %}
{% endblock %}
{% block body %}
<section class="hero is-dark is-medium">
<div class="columns">
  <div class="column is-three-quarters">
    <div class="table is-hoverable is-striped">
      <table name=Device_Info>
        <tr><th>Device Info</th></tr>
        <tr><td>Repository Name:      {{ repo.Repo.repo_name }}</td></tr>
        <tr><td>Device Manufacturer:  {{ model.Device_Model.manufacturer }}</td></tr>
        <tr><td>Device Model:         {{ model.Device_Model.model }}</td></tr>
        <tr><td>Device OS:            {{ model.Device_Model.os }}</td></tr>
      </table>
    </div>
  </div>
  <div class="column is-one-quarter">
    <div class="Config-Menu">
      <label>Config Version</label><br>
      <select name="Configs" id="Configs" data-api="{{ url_for('home_bp.home', _external=True) }}" data-device="{{ alias }}">
      {% for log in logs %}
        <option value="{{ log.Hash }}"> {{ log.Date }} </option>
      {% endfor %}
      </select>
    </div>
  </div>
</div>
</section>
<div class="box">
  <strong>Device Config:</strong>
  <pre><code>
    {% for line in config -%}
      {{ line }}
    {% endfor -%}
  </pre></code>
</div>
<br>
{% endblock %}
{% block footer %}
{% include "default_footer.html" %}
{% endblock %}
