<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Config - Scribe</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/configs.css') }}">
    <ul>
      <li><a href="{{ url_for('home') }}">Home</a></li>
      <li><a href="{{ url_for('repos') }}">Repositories</a></li>
      <li><a href="{{ url_for('models') }}">Models</a></li>
      <li><a href="{{ url_for('users') }}">Users</a></li>
      <li><a href="{{ url_for('groups') }}">Groups</a></li>
    </ul>
  </head>
  <pre>
      {% for line in config %}
        <code> {{ line }} </code>
      {% endfor %}
  </pre>
