<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Devices - Scribe</title>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <ul>
      <li><a class="current" href="{{ url_for('home') }}">Home</a></li>
      <li><a href="{{ url_for('repos') }}">Repositories</a></li>
      <li><a href="{{ url_for('models') }}">Models</a></li>
      <li><a href="{{ url_for('users') }}">Users</a></li>
      <li><a href="{{ url_for('groups') }}">Groups</a></li>
    </ul>
  <table id="generic_table">
    <tr>
      <th>Alias</th>
      <th>Enabled</th>
      <th>IP Address</th>
      <th>Model</th>
      <th>Last Updated</th>
    </tr>
    {% for device in devices %}
    <tr>
      <td><a href={{ url_for('config', alias=device.alias) }}>{{ device.alias }}</a></td>
      <td>{% if device.enabled == "1" %}
          <div onclick="DisableDevice('{{ device.alias }}')" class="color-box" style="background-color: #33cc33;"></div>
        </button>
      {% else %}
          <div onclick="EnableDevice('{{ device.alias }}')" class="color-box" style="background-color: #ff3300"></div>
      {% endif %} </td>
      <td>{{ device.ip }}</td>
      <td>{{ device.model }}</td>
      <td>{{ device.last_updated }}</td>
    </tr>
    {% endfor %}
