<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask Parent Template</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <ul>
      <li><a href="{{ url_for('home') }}">Home</a></li>
      <li><a href="{{ url_for('repos') }}">Repositories</a></li>
      <li><a class="current" href="{{ url_for('models') }}">Models</a></li>
      <li><a href="{{ url_for('users') }}">Users</a></li>
      <li><a href="{{ url_for('groups') }}">Groups</a></li>
    </ul>
  </head>
<table>
  <tr>
    <td>Manufacturer</td>
    <td>Model</td>
    <td>Operating System</td>
  </tr>
  {% for model in models %}
  <tr>
    <td>{{ model.manufacturer }}</a></td>
    <td>{{ model.model }}</a></td>
    <td>{{ model.OS }}</a></td>
  </tr>
  {% endfor %}
